/* Estilos para la tarjeta */
.tarjeta {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.tarjeta-imagen {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 10px;
}

.tarjeta-contenido {
    flex: 1;
}

.tarjeta-titulo {
    margin: 0;
}

.tarjeta-descripcion {
    margin: 0;
    margin-bottom: 10px;
}

.tarjeta-precio {
    margin: 0;
    font-weight: bold;
}

.boton-agregar {
    background-color: rgb(219, 147, 39);
    color: white;
    border: none;
    padding: 5px 10x;
    border-radius: 4px;
    cursor: pointer;
}

.boton-agregar:hover {
    background-color: rgb(219, 147, 39);
}

.boton-quitar {
    background-color: #4c6fafe8;
    color: white;
    border: none;
    padding: 5px 10x;
    border-radius: 4px;
    cursor: pointer;
}

.boton-quitar:hover {
    background-color: #4c6fafe8;
}

/* Estilos para el carrito */
.carrito {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}